    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="img/logo.png">
                <h2>ประวัติพระธรรมทูตไทย สายประเทศอินเดีย-เนปาล</h2>
                <p>
                    พระธรรมทูต (อ่านว่า -ทำมะทูด) หมายถึงภิกษุที่เดินทางไปแสดงธรรมในที่ต่างๆ ทำหน้าที่เหมือนทูตทางธรรมหรือทูตของพระศาสนา พระธรรมจาริก มีความหมายเดียวเช่นเดียวกันกับพระธรรมทูต แต่เป็นคำบัญญัติที่เกิดที่หลังคำว่าพระธรรมทูต ปัจจุบันแบ่งพระธรรมทูตออกเป็น 2 ประเภทคือ พระธรรมทูตในประเทศ กับ พระธรรมทูตต่างประเทศ

                </p>
            </div>
        </div>
    </section>