    <!-- Footer -->
    <footer class="col-xs-12 bgdark">
    	<div class="container text-center">
    		 | 
            <a class="page-scroll" href="#history">ประวัติ</a> | 
            <a class="page-scroll" href="#story">ดินแดนพุทธภูมิ</a> | 
            <a class="page-scroll" href="#video">อริยทัศอินเดีย</a> | 
            <a class="page-scroll" href="#mission">แผนการเผยแพร่</a> | 
            <!-- <a class="page-scroll" href="#news">โครงการ</a> |  -->
            <a class="page-scroll" href="#network">เครือข่ายวัดไทย</a> | 
            <a class="page-scroll" href="#contact">ติดต่อ</a> | 

    	</div>
        <div class="container text-center">

            <p>Copyright &copy; <br class="mob-br">{{ site.footer }} <br class="mob-br">20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>

<span id="top-link-block" class="hidden">
    <a href="#top" class="btn btn-default"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="fa fa-chevron-circle-up"></i> <b class="hidden-xs hidden-sm">กลับสู่ด้านบน</b>
    </a>
</span><!-- /top-link-block -->

