    <!-- history Section -->
    <section id="history" class="container content-section text-center fill col-xs-12 bgdark">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="../img/logo.png">
                <h2>ประวัติพระธรรมทูตไทย <br class="mob-br">สายประเทศ<br class="mob-br">อินเดีย-เนปาล</h2>
                <p>
                    <b>พระธรรมทูต</b><br class="mob-br"> หมายถึงภิกษุที่เดินทางไปแสดงธรรม<br class="mob-br">ในที่ต่างๆ ทำหน้าที่เหมือนทูตทางธรรม<br class="mob-br">หรือทูตของพระศาสนา<br> <br class="mob-br">
                    <b>พระธรรมจาริก</b><br class="mob-br"> มีความหมายเดียวเช่นเดียวกัน<br class="mob-br">กับพระธรรมทูต แต่เป็นคำบัญญัติ<br class="mob-br">ที่เกิดที่หลังคำว่าพระธรรมทูต <br>
                    ปัจจุบันแบ่งพระธรรมทูต<br class="mob-br">ออกเป็น 2 ประเภทคือ <br class="mob-br">พระธรรมทูตในประเทศ <br class="mob-br">กับ <br class="mob-br">พระธรรมทูตต่างประเทศ
                </p>
            </div>
        </div>
        <div class="row">
            <a href="{{ "/history" | prepend: site.baseurl }}"><button type="button" class="btn btn-default">อ่านต่อ</button></a>
        </div>
        
    </section>