    <!-- Intro Header -->
    <header class="intro col-xs-12">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 >พระธรรมทูตไทย<br class="mob-br">สายประเทศ<br class="mob-br">อินเดีย-เนปาล</h2>
                        <p class="intro-text">Dhammaduta Bhikkhus Thai <br class="mob-br">Mission in India-Nepal (DTIN)<br>
                        <a href="#history" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
