    <!-- mission Section -->
    <section id="mission" class="container content-section text-center fill col-xs-12 bgdim">
    <div class="container text-center">

        <div class="row" data-pg-collapsed>
            <h1>แผนการเผยแพร่ และพัฒนา</h1>
        </div>
        <div class="row" data-pg-collapsed>
            <div class="col-sm-6 col-md-4"> 
                <div class="thumbnail"> 
                    <img src="../img/mission/missionthumb.png" alt=""> 
                </div>
                <p>พระเทพโพธิวิเทศ <br class="mob-br">(วีรยุทธ์ วีรยุทโธ ป.ธ.๙) <br>หัวหน้าพระธรรมทูตไทย<br class="mob-br">สายประเทศอินเดีย- เนปาล</p>
            </div>
            <div class="col-sm-6 col-md-8" data-pg-collapsed> 
                <div class="thumbnail"> 
                    <div class="caption"> 
                        <h3 class="text-left">วิสัยทัศน์</h3> 
                        <p class="text-left">การดำเนินงาน ดูแล บริหาร <br class="mob-br">วัดไทยพุทธคยา ได้นำหลักการที่สืบทอดต่อทางของพระธรรมทูตมาจากสายอินเดียมาตั้งแต่ยุคสมัยของ เจ้าประคุณสมเด็จพระธีรญาณมุนี <span class="hidden-xs">(ธีร์ ปุณฺณกมหาเถร ป.ธ.๙) ท่านเจ้าคุณหลวงพ่อพระสุเมธาธิบดี (ทตฺตสุธิมหาเถร ป.ธ.๘)  และท่านเจ้าคุณอาจารย์พระเทพโพธิวิเทศ (ทองยอด ภูริปาโล ป.ธ.๙) </span>รวมเส้นทางการบริหารจัดการ <br class="mob-br">จากแนวความคิดที่เขียนไว้ในกระดานหน้าห้อง จึงนำมาเป็นแนวทางบริหารวัดไทยพุทธคยา<br class="mob-br">เป็นเบื้องต้น
                        </p> 
                        <p class="text-right"> <a href="{{ "/mission"| prepend: site.baseurl }}" class="btn btn-default" role="button">อ่านต่อ</a></p> 
                    </div>                         
                </div>                     
            </div>
        </div>
        <!-- <div class="row" data-pg-collapsed>
            <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                <div class="thumbnail"> 
                    <div class="caption"> 
                        <h3>แผนแม่บทพัฒนาวัดไทยพุทธคยา</h3> 
                    </div>
                    <img src="http://placehold.it/350x350?text=Mission+thumb" alt=""> 
                </div>                     
            </div>
            <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                <div class="thumbnail"> 
                    <div class="caption"> 
                        <h3>แผนพัฒนางานเผยแผ่พระพุทธศาสนา</h3> 
                    </div>
                    <img src="http://placehold.it/350x350?text=Mission+thumb" alt=""> 
                </div>                     
            </div>
            <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                <div class="thumbnail"> 
                    <div class="caption"> 
                        <h3>แผนงานพัฒนาบุคคลสายการศึกษา</h3> 
                    </div>
                    <img src="http://placehold.it/350x350?text=Mission+thumb" alt=""> 
                </div>                     
            </div>
            <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                <div class="thumbnail"> 
                    <div class="caption"> 
                        <h3>ส่งเสริมการแสวงบุญในสังเวชนียสถาน</h3> 
                    </div>
                    <img src="http://placehold.it/350x350?text=Mission+thumb" alt=""> 
                </div>                     
            </div>
        </div> -->
    </div>
    </section>