    <!-- network Section -->
    <section id="network" class="container content-section text-center fill col-xs-12 bgdark">
    <div class="container text-center">

        <div class="row" data-pg-collapsed>
                <h1>เครือข่ายและวัดไทย ในอินเดีย-เนปาล</h1>
            </div>

            <div class=" list-group col-xs-12 col-md-4 hidden-xs hidden-sm" data-pg-collapsed>
            
            <button type="button" class="list-group-item list-group-item-info"><b>เมืองคยา</b></button>
                <button type="button" class="list-group-item">วัดไทยพุทธคยา </button> 
                <button type="button" class="list-group-item">วัดป่าพุทธคยา (ธ) </button>  
                <button type="button" class="list-group-item">วัดไทยมคธพุทธวิปัสสนา </button> 
                <button type="button" class="list-group-item">วัดปากน้ำอินเดีย เมืองพุทธคยา รัฐพิหาร ประเทศอินเดีย </button> 
                <button type="button" class="list-group-item">วัดเมตตาพุทธาราม (ธ) </button> 
                <button type="button" class="list-group-item">วัดเนรัญชราวาส (ธ) </button> 
                <button type="button" class="list-group-item">วัดป่ามุจลินท์วิหาร </button> 
                <button type="button" class="list-group-item">วัดพุทธกตัญญูรัชคุณวิหาร </button> 
                <button type="button" class="list-group-item">วัดพุทธสิกขาลัย (ธ) </button> 
                <button type="button" class="list-group-item">ศูนย์ปฏิบัติธรรมและโรงพยาบาลภูริปาโล </button> 
                <button type="button" class="list-group-item">วัดพุทธสาวิกา (สำนักแม่ชีไทย) </button> 
                <button type="button" class="list-group-item">วัดนวมินทร์ธัมมิกราช </button> 
                <button type="button" class="list-group-item">วัดไทยสิริราชคฤห์ </button> 
                <button type="button" class="list-group-item">วัดไทยนาลันทา </button> 
            </div>

            <div class=" list-group col-xs-12 col-md-4 hidden-xs hidden-sm" data-pg-collapsed>
            <button type="button" class="list-group-item list-group-item-info"><b>เมืองไวสาลี</b></button> 
                <button type="button" class="list-group-item">วัดไทยไวสาลี </button> 
                <button type="button" class="list-group-item">วัดไทยเกสริยา (สำนักที่พักสงฆ์)</button>  

            <button type="button" class="list-group-item list-group-item-info"><b>เมืองสารนาถ </b></button> 
                <button type="button" class="list-group-item">วัดไทยสารนาถ (มฤคทายวันมหาวิหาร)</button> 
            <button type="button" class="list-group-item list-group-item-info"><b>เมืองสาวัตถี</b></button> 
                <button type="button" class="list-group-item">วัดไทยเชตวันมหาวิหาร ๙๓๙</button> 
                <button type="button" class="list-group-item">วัดบุพพาราม (วัดป่า)</button> 
                <button type="button" class="list-group-item">วัดไทยสาวัตถีพุทธวิปัสสนา</button> 
                <button type="button" class="list-group-item">ศูนย์ปฏิบัติธรรมแดนมหามงคลชัย</button> 
                <button type="button" class="list-group-item">วัดไทยกุสินาราเฉลิมราชย์ ๙๘๐</button> 
                <button type="button" class="list-group-item">วัดกุสาวดีพุทธวิหาร (ธ) </button> 
                <button type="button" class="list-group-item">วัดป่ากุสินาราบรมธาตุสถิต</button> 
            <button type="button" class="list-group-item">เมืองโสนาลี (ชายแดนอินเดีย – เนปาล)</button> 
                <button type="button" class="list-group-item">วัดไทยนวราชรัตนาราม ๙๖๐ </button> 
            </div>

            <div class=" list-group col-xs-12 col-md-4" data-pg-collapsed>
            <button type="button" class="list-group-item list-group-item-info hidden-xs hidden-sm"><b>กรุงนิวเดลี   </b></button> 
                <button type="button" class="list-group-item hidden-xs hidden-sm">วัดโภคัลพุทธวิหาร (วัดอินเดีย)</button>  
            <button type="button" class="list-group-item hidden-xs hidden-sm"> &nbsp;&nbsp;&nbsp;</button> 
            <button type="button" class="list-group-item list-group-item-info"><b>เครือข่าย</b> </button> 
                <button type="button" class="list-group-item">สถานเอกอัครราชทูต ณ กรุงนิวเดลี</button> 
                <button type="button" class="list-group-item">สำนักงานพระพุทธศาสนาแห่งชาติ</button> 
                <button type="button" class="list-group-item">มหาเถรสมาคม </button> 
                <button type="button" class="list-group-item">มหาวิทยาลัยมหามกุฏราชวิทยาลัย </button> 
                <button type="button" class="list-group-item">มหาวิทยาลัยมหาจุฬาลงกรณราชวิทยาลัย </button> 
                <button type="button" class="list-group-item">องค์การพุทธศาสนิกสัมพันธ์แห่งโลก </button> 
                <button type="button" class="list-group-item">กรมการศาสนา กระทรงวัฒนธรรม </button> 
                <button type="button" class="list-group-item">วัด สุวรรณภูมิพุทธชยันตี๙๘๙ </button> 
                <button type="button" class="list-group-item">มูลนิธิวัดไทยกุสินาราเฉลิมราชย์ ประเทศไทย </button> 
                <button type="button" class="list-group-item">สถาบันโพธิคยาวิชชาลัย๙๘๐ </button> 
            <button type="button" class="list-group-item hidden-xs hidden-sm"> &nbsp;&nbsp;&nbsp;</button> 
            </div>
<!-- 
            <div class="row" data-pg-collapsed >
                <a href="{{"/network" | prepend: site.baseurl}}"><button type="button" class="btn btn-default">ดูทั้งหมด</button></a>
            </div> -->
    </div>
    </section>