    <!-- Footer -->
    <footer>
    	<div class="container text-center">
    		 | 
            <a class="page-scroll" href="{{ "/home/#page-top" | prepend: site.baseurl }}">หน้าหลัก</a> | 
            <a class="page-scroll" href="{{ "/home/#history" | prepend: site.baseurl }}">ประวัติ</a> | 
            <a class="page-scroll" href="{{ "/home/#story" | prepend: site.baseurl }}">ดินแดนพุทธภูมิ</a> | 
            <a class="page-scroll" href="{{ "/home/#video" | prepend: site.baseurl }}">อริยทัศอินเดีย</a> | 
            <a class="page-scroll" href="{{ "/home/#mission" | prepend: site.baseurl }}">แผนการเผยแพร่</a> | 
            <!-- <a class="page-scroll" href="{{ "/home/#news" | prepend: site.baseurl }}">โครงการ</a> |  -->
            <a class="page-scroll" href="{{ "/home/#network" | prepend: site.baseurl }}">เครือข่ายวัดไทย</a> | 
            <a class="page-scroll" href="{{ "/home/#contact" | prepend: site.baseurl }}">ติดต่อ</a> | 

    	</div>
        <div class="container text-center">

            <p>Copyright &copy; <br class="mob-br">{{ site.footer }} <br class="mob-br">20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>
