 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{{/img/logo.png | prepend: site.baseurl }}" width="30%">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "/home/#page-top" | prepend: site.baseurl }}">หน้าหลัก</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "/home/#history" | prepend: site.baseurl }}">ประวัติ</a>
                    </li>
                    <!-- <li> -->
                        
                    <li><a class="page-scroll" href="{{ "/home/#story" | prepend: site.baseurl }}">ดินแดนพุทธภูมิ</a></li>
                    <!-- <li><a class="page-scroll" href="#video">อริยทัศอินเดีย</a></li> -->
                    
                    <!-- </li> -->
                    <li>
                        <a class="page-scroll" href="{{ "/home/#mission" | prepend: site.baseurl }}">แผนการเผยแพร่</a>
                    </li>
                    <li>
                        <!-- <a class="page-scroll" href="{{ "/home/#news" | prepend: site.baseurl }}">โครงการ</a> -->
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "/home/#network" | prepend: site.baseurl }}">เครือข่ายวัดไทย</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ "/home/#contact" | prepend: site.baseurl }}">ติดต่อ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>