    <!-- story Section -->
    <section id="story" class="container content-section text-center fill col-xs-12 bgdim">
    <div class="container text-center">

        <div class="row" data-pg-collapsed>
                <h1>ดินแดนพุทธภูมิ</h1>
                <p>สี่สังเวชนียสถาน</p>
            </div>
            <div class="row" data-pg-collapsed>
                <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                    <div class="thumbnail"> 
                        <img src="../img/story/story1thumb.png" alt=""> 
                        <div class="caption"> 
                            <h3> ลุมพินีวัน</h3> 
                            <p>อุทยานลุมพินีวันอยู่ในฐานะมรดกโลกตั้งแต่ พ.ศ. 2540 เป็น 1 ใน 4 สังเวชนียสถานที่สำคัญ ด้วยเป็นชาตสถานของพระผู้มีพระภาคเจ้า </p> 
                            <p class="text-right"> <a href="{{ "/story1" | prepend: site.baseurl }}" class="btn btn-default" role="button">อ่านต่อ</a></p> 
                        </div>                         
                    </div>                     
                </div>
                <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                    <div class="thumbnail"> 
                        <img src="../img/story/story2thumb.png" alt=""> 
                        <div class="caption"> 
                            <h3> พุทธคยา</h3> 
                            <p>ต้นพระศรีมหาโพธิ์ ณ สังเวชนียสถานที่ตรัสรู้ ของพระสัมมาสัมพุทธเจ้า ตั้งอยู่ติดกับพระพุทธเจดีย์พุทธคยาด้านทิศตะวันตก ปัจจุบันอยู่ในเขตการปกครองของตำบลพุทธคยา จังหวัดคยา รัฐพิหาร</p> 
                            <p class="text-right"> <a href="{{ "/story2" | prepend: site.baseurl }}" class="btn btn-default" role="button">อ่านต่อ</a></p> 
                        </div>                         
                    </div>                     
                </div>
                <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                    <div class="thumbnail"> 
                        <img src="../img/story/story3thumb.png" alt=""> 
                        <div class="caption"> 
                            <h3>สารนาท</h3> 
                            <p>เมืองพาราณสีนั้นยิ่งใหญ่ พระองค์จึงตั้งความปรารถนาจะมาเมืองนี้ และในขณะเดียวกันสาวกของพระองค์ คือปัญจวัคคีย์ ผู้ซึ่งเคยบำเพ็ญเพียรทุกกรกริยามาร่วมกัน สถานที่สมเด็จพระสัมมาสัมพุทธเจ้าได้ทรงพบกับปัญจวัคคีย์เป็นครั้งแรก</p> 
                            <p class="text-right"> <a href="{{ "/story3" | prepend: site.baseurl }}" class="btn btn-default" role="button">อ่านต่อ</a></p> 
                        </div>                         
                    </div>                     
                </div>
                <div class="col-sm-6 col-md-3" data-pg-collapsed> 
                    <div class="thumbnail"> 
                        <img src="../img/story/story4thumb.png" alt=""> 
                        <div class="caption"> 
                            <h3>กุสินารา</h3> 
                            <p>กุสินารานั้นเมื่อเปรียบเทียบกับแคว้นอื่นๆ ในสมัยพุทธกาลจัดว่าเป็นแคว้นเล็ก ไม่ค่อยมีความสำคัญมากนัก แต่พระพุทธองค์ทรงเลือกเมืองเล็กๆนี้ เป็นที่เสด็จดับขันธปรินิพพาน</p> 
                            <p class="text-right"> <a href="{{ "/story4" | prepend: site.baseurl }}" class="btn btn-default" role="button">อ่านต่อ</a></p> 
                        </div>                         
                    </div>                     
                </div>
            </div>
    </div>
    </section>